<h1> Your Profile Info</h1>
<p><%= image_tag(current_user.profile.avatar, size: "50x50") %></p>
<p><%= current_user.firstname %></p>
<p><%= current_user.lastname %></p>
<p><%= current_user.coutry %></p>
