<h1> Your Profile Info</h1>
<p><%= image_tag(current_user.profile.avatar_url, size: "50x50") %></p>
<p><%= current_user.profile.firstname %></p>
<p><%= current_user.profile.lastname %></p>
<p><%= current_user.profile.country %></p>
