<h1> Your Profile Info</h1>
<p><%= image_tag(current_user.profile.avatar_url, size: "50x50", class:"rounded-circle") %></p>
<p><%= current_user.firstname %></p>
<p><%= current_user.lastname %></p>
<p><%= current_user.coutry %></p>
