<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <h2>New test_question</h2>

        <%= render 'test_questions/form' %>

        <% content_for(:title) do %>
          New test_question
        <% end %>
        <button type="button" class="subm" data-dismiss="modal">Close</button>
      </div>

        
      
    </div>
  </div>
</div>
