<!--
# ITESM CEM, May 11, 2011.
# Ruby Source File
# Activity::  Final Project: Design Patterns Quiz App
# Authors::   1165536 Juliana Pena
-->

<h1>Editing test_question</h1>

<%= render 'form' %>

<%= link_to 'Show', @test_question %> |
<%= link_to 'Back', test_questions_path %>

<% content_for(:title) do %>
  Edit test_question
<% end %>
