<div class="container-fluid">
	<div class="main">
		<h2>"Quintessence" is a new platform for distance learning. </h2>
		<h2>Just <%= link_to "sign up", new_user_registration_path%> and start learning! </h2>
		</div>
	</div>

</div>