<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1>New Lesson</h1>

        <%= render 'form', lesson: @lesson %>
        <button type="button" class="subm" data-dismiss="modal">Close</button>
      </div>



    </div>
  </div>
</div>
