<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <center><h2>New Course</h2></center>
        <%= render 'form', course: @course %>
        <button type="button" class="subm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
