
<div class="container-fluid">
<div class="course_e">

 <h1 class="text-center">Courses</h1>
  <div class="row">
    <% @courses.each do |course| %>
   <div class="col-4">
      
    <div class="card">
      
     <div class="card-img">

       <%= image_tag(course.avatar.url,size:"50x50", class: "img-fluid")%> 
     </div>
     
     <div class="card-body">
      <%= link_to   course.title , course_path(course), class: "card-title" %>
      
     </div>
     <div class="card-footer">
      <%= link_to "Read more", course_path(course), class: "card-link"%>
     </div>
    </div> 
      </div> 
      <div class="about" id="about"></div>
   <%end%> 
   </div>
  </div>
</div>