/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);

/*dropdown-menu*/

	.menu .link {
		background: #3d3d3d;
		color:#fff;
		padding: 10px;
		display: block;
		border-bottom: 1px solid #666;
		transition: 0.2s all;
		text-decoration: none;
		text-transform: none;
		padding: 5px 0 5px 10px;
	}
	.menu .item{
		background: #3d3d3d;
		display: block;
		border-bottom: 1px solid #666;
		padding: 8px;
		color:#fff;
	}

	.menu li .menu__drop .item{
		border-radius: 5px 5px 0 0;
	}
	.menu li .menu__drop li:last-child .link{
		border-radius:  0 0 5px 5px;
	}
	.menu .link:hover {
		background: #666;
		padding: 10px	0	10px	20px;
	}
	.menu ul li{
		margin: 0;
		padding: 0;
		list-style: none;
		display: absolute;
	}
	.menu  ul li > ul{
		position: absolute;
		width: 180px;
		margin-left: -150px;
		display: none;
		border-top: 10px solid transparent;
	}
	.menu__list:hover .menu__drop{
		display: block;
		top: 0;
	}
	.menu__list::after{
		content: " ";
		position: absolute;
		border: 5px solid;
		border-color: #eee transparent transparent  transparent;
		top: 27px;
		right: 40px;
		transition: 0.5s;
	}
	.menu__list:hover::after{
		border-color:  transparent #eee transparent  transparent;
		top: 25px;
	}


/*dropdown-menu*/
