// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-4{
	text-align: center;
	margin-top: 50px;
}
.field1{
	margin-left: 20px;
	padding-top: 10px;
}


.field{
	margin-top: 25px;
}

.proff{
	border: 1px solid lightgray;
	    border-radius: 5px;
    padding: 0px 25px;
    margin-bottom: 15px;
	padding-top: 15px;
    height: auto;
		margin-top: 20px;
}
 p{
 	color: #1F2740;
 	font-family: 'Source Serif Pro', serif;
 	font-size: 20px;
 	margin: 15px;
 	padding: 5px;
 }
 .col-7{

 	padding-top: 50px;
 }

 .course{
 	height: 180px;
 	display: list-item;
 	padding:  10px;
 	    text-align: -webkit-match-parent;
 	    list-style-type: none;
	border: 2px solid lightgray;
	font-size: 19px;
 }
 .subm{

 	color: #ffffff !important;

 }
