<!--
# ITESM CEM, May 11, 2011.
# Ruby Source File
# Activity::  Final Project: Design Patterns tests App
# Author::    1165536 Juliana Pena
-->
<div class="container-fluid">
	<div class="main">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
	<center>
<h2>Start tests</h2>

<%= form_tag({:controller => "tests",
				  :action => "start"}) do %>
  <p><%= label_tag(:number, "How many questions do you want in the tests?", :id => "question") %></p>
  <p class="center"><%= select_tag(:number, options_for_select((1..10).map {|x| [x, x]}), :id => "count") %> <br /></p>

  <div class="center">
	 <%= submit_tag "Start!", :class => "subm"%>
  </div>
<% end %>

<% content_for(:title) do %>
  Start tests
<% end %>
</center>
</div>
<div class="col-4"></div>
</div>
</div>
</div>