<footer class="footer">
	<div class="container justify-between">
			
			<div class="footer-navigation">
				<ul class="footer-navigation-list">
					<li> <a href="#">FAQ</a></li>
					<li> <a href="#">Terms of Service</a></li>
					<li> <a href="#">Contact Us</a></li>
				</ul>
				
				
				
			</div>
		</div>
</footer>